:root {
    --primary-color: red;
}

body {
    margin: 0;
    background-color: rgb(167, 152, 113);
}

aside {
    position: fixed;
    inset: 0;
    width: 12rem;
    background-color: #88888888;
    transition: all 500ms;
    overflow-x: hidden;
}

.close {
    width: 0;
}


li {
    list-style: none;
    padding: 1rem 0;
    white-space: nowrap;
}

li:hover {
    background-color: #CCCCCC55;
    border-right: .3rem solid var(--primary-color);
}

.avatar {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: 0;
}

.burger-menu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 48px;
    color: var(--primary-color);
}

/* Re-usable classes */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.gap1 {
    gap: 1rem;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.align-center {
    align-items: center;
}

.p1 {
    padding: 1rem;
}

.hidden {
    display: none;
}